#level-main {

    align-items: center !important;

}

.level-h2 {

    font-size: 2em;
    letter-spacing: .1em;
    color: var(--title-color) !important;
    margin-bottom: 2em;

}

.level-p {

    font-size: 2em;

}