#question-header {

    align-items: flex-start !important;
    justify-content: flex-end !important;

}

.question-p {

    color: var(--text-color);
    font-size: 1.5em;
    font-weight: bold;

}

#question-main {

    align-items: flex-start !important;
    justify-content: start;

}

#question-main > p {

    font-size: 2.5em;

}

#question-main > h1 {

    float: left !important;
    text-transform: lowercase;
    font-weight: bold;

}

#question-main > h1:first-letter {

    font-size: 1em !important;

}

#question-main > ul {

    margin-top: 8em;

    list-style: none;

}

#question-main > ul > li {

    color: var(--text-color);
    font-weight: bold;

    margin-top: 15px;
    margin-bottom: 15px;

}

#question-footer {

    align-items: flex-start !important;

}

#question-footer > a {

    color: var(--title-color) !important;

}