#win-main {

    align-items: center !important;

}


#win-footer {

    align-items: flex-start !important;

}

#win-footer > a {

    color: var(--title-color) !important;

}

.win-h2 {

    font-size: 2em;
    letter-spacing: .1em;
    color: var(--title-color) !important;
    margin-bottom: 2em;

}

.win-p {

    font-size: 2em;

}